@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  color: #213547;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.subtitle-inner-text{
  color:#646cff;
}

body {
  margin: 0;
  display: flex;
  min-width: 600px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: #646cff;
  border-radius: 0.6em; 
  color: #fff;
  cursor: pointer;
  align-self: center;
  font-family: inherit;
  line-height: 1;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  
  transition: box-shadow 300ms ease-in-out, 300ms ease-in-out;
}
button:hover {
  box-shadow: 0 0 40px 40px #747bff inset;
  color:#fff;
}
button:focus,
button:focus-visible {
  color: #fff;
  outline: 4px auto -webkit-focus-ring-color;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .06em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .06em; /* Adjust as needed */
  animation: 
    typing 2.5s steps(40, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
